#root {
  background-color: rgb(224, 207, 221);
}

body {
  text-align: center;
  background-color: rgb(224, 207, 221);
}

h1 {
  margin: 15px;
  color: rgba(233, 0, 39);
}

#show_dropdown,
#searchInput,
#listEpisodes {
  width: 20%;
  height: 30px;
  margin: 20px;
  border: 2px solid black;
}

#searchInput {
  height: 24px;
}

#container {
  text-justify: center;
  text-align: center;
  margin: auto;
  width: 88%;
  padding: 30px 10px 30px 20px;
  display: flex;
  flex-wrap: wrap;
}

#root {
  text-justify: center;
  text-align: center;
  margin: auto;
  width: 88%;
  padding: 30px 10px 30px 20px;
  display: flex;
  flex-direction: column;
}

.show-elm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.show-elm h3 {
  width: 100%;
}

.show-info {
  display: flex;
  width: 100%;
}

/*Div for the Episode display */
#container div {
  width: 32%;
  margin: 5px;
  background-size: auto;
  background-color: rgb(235, 230, 230);
  padding-top: 10px;
  padding-bottom: 10px;
}

#more-details {
  color: green;
  width: auto;
  height: 30%;
  padding: 15px;
  margin: auto;
  border: 2px solid rgb(214, 156, 165);
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgb(100, 91, 91);
}

h3 {
  color: rgb(93, 93, 194);
  display: inline-block;
  display: inline;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
  margin: 5px;
}

p {
  text-justify: auto;
  text-align: justify;
  margin: 5px;
  padding: 15px;
}

#footer p {
  text-align: center;
  font-size: 14px;
}
