#root {
  color: red;
}

body {
  text-align: center;
}

h1 {
  margin: 15px;
  color: rgba(233, 0, 39)
}

#searchInput {
  width: 20%;
  height: 20px;
  margin: 20px;
  border: 2px solid black;
}

#listEpisodes {
  width: 20%;
  height: 25px;
  border: 2px solid black;
}

#container {
  text-justify: center;
  text-align: center;
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 30px 10px 30px 20px;
  display: flex;
  flex-wrap: wrap;
}

#container div {
  width: 32%;
  margin: 5px;
  background-size: auto;
  background-color: rgb(235, 230, 230);
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  color: rgb(93, 93, 194);
  display: inline-block;
  display: inline;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
  margin: 15px;
}

p {
  text-justify: auto;
  text-align: justify;
  margin: 5px;
  padding: 15px;
}

#footer p {
  text-align: center;
}